body {
    background-color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(72, 72, 72);
    padding: 10px;
}

.box {
    width: calc(33.333333% - 20px);
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#big-box {
    width: calc(66.666666% - 20px);
}